<facephi-selphid-widget
    [country]="selphid.country"
    [language]="selphid.language"
    [previewCapture]="selphid.previewCapture"
    [captureTimeout]="selphid.captureTimeout"
    [captureRetries]="selphid.captureRetries"
    [showLog]="selphid.showLog"

    (moduleLoaded)="handleModuleLoaded($event)"
    (extractionFinish)="handleExtractionFinish($event)"
    (extractionTimeout)="handleExtractionTimeout($event)"
    (exceptionCaptured)="handleExceptionCaptured($event)"
    (errorTimeout)="handleErrorTimeout($event)"
    (timeoutErrorButtonClick)="handleTimeoutErrorButtonClick($event)"
    (userCancel)="handleUserCancel($event)"
	(trackStatus)="hanldeTrackStatus($event)"
/>
