<facephi-selphi-widget
    [stabilizationStage]="selphi.stabilizationStage"
    [interactible]="selphi.interactible"
    [previewImage]="selphi.previewImage"
    [timeout]="selphi.timeout"
    [showLog]="selphi.showLog"

    (moduleLoaded)="handleModuleLoaded($event)"
    (extractionFinish)="handleExtractionFinish($event)"
    (extractionTimeout)="handleExtractionTimeout($event)"
    (exceptionCaptured)="handleExceptionCaptured($event)"
    (errorTimeout)="handleErrorTimeout($event)"
    (timeoutErrorButtonClick)="handleTimeoutErrorButtonClick($event)"
    (userCancel)="handleUserCancel($event)"
	(trackStatus)="handleTrackStatus($event)"
	(stabilizing)="handleStabilizing($event)"
/>
