@import "./global.css";

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.framework {
  background-color: #3fb883;
  color: #fff;
}

.onboarding-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: #343a40;
}

/* Selphi and SelphID Component styles */
facephi-selphi {
  --color-primary: #3fb883;
  --color-progress-bar: #3fb883;
  --color-hover: #3fb88377;
  --color-loading: #3fb883;
  --color-tutorial-tshirt: #3fb883;
  --color-tutorial-progress: #3fb883;
  --display-logo: "block";
}

facephi-selphid {
  --color-primary: #3fb883;
  --color-hover: #3fb88377;
  --color-loading: #3fb883;
  --color-tutorial-background: #3fb883;
  --display-logo: "block";
}
