@import "./global.css";

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.framework {
  background-color: #3d56ff;
  color: #ffffff;
}

.onboarding-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: #343a40;
}

/* Selphi and SelphID Component styles */
facephi-selphi {
  --color-primary: #3d56ff;
  --color-progress-bar: #3d56ff;
  --color-hover: #3d56ff77;
  --color-loading: #3d56ff;
  --color-tutorial-tshirt: #3d56ff;
  --color-tutorial-progress: #3d56ff;
  --display-logo: "block";
}
facephi-selphid {
  --color-primary: #3d56ff;
  --color-hover: #3d56ff77;
  --color-loading: #3d56ff;
  --color-tutorial-background: #3d56ff;
  --display-logo: "block";
}
