<main class="main">
    <section class="sdk-section">
        <!-- SDK Provider -->
        <facephi-sdk-provider [apikey]="provider.apiKey" [steps]="provider.steps" [type]="provider.type"
            [customerId]="provider.customerId" [language]="provider.language" (emitData)="onEmitData($event)"
            (emitError)="onEmitError($event)">
            <!-- Router to redirect, first, to Selphi and then, SelphID -->
            <router-outlet />
        </facephi-sdk-provider>
    </section>
</main>