<facephi-selphid-widget
    [initialTip]="selphid.initialTip"
    [initialTipHeight]="selphid.initialTipHeight"
    [initialTipWidth]="selphid.initialTipWidth"
    [country]="selphid.country"
    [language]="selphid.language"
    [previewCapture]="selphid.previewCapture"
    [captureTimeout]="selphid.captureTimeout"
    [captureRetries]="selphid.captureRetries"
    [showLog]="selphid.showLog"

    (extractionFinish)="handleExtractionFinish($event)"
    (exceptionCaptured)="handleExceptionCaptured($event)"
    (extractionTimeout)="handleExtractionTimeout($event)"
    (errorTimeout)="handleErrorTimeout($event)"
/>
