@import "./global.css";

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.framework {
  background-color: #58c4dc;
  color: black;
}

.onboarding-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: #343a40;
}

/* Selphi and SelphID Component styles */
facephi-sdk-provider {
  --wrapper-color-primary: #139eca;
  --wrapper-color-hover: #139eca77;
  --wrapper-color-loading: #139eca;
  --wrapper-color-tutorial-background: #139eca;
  --wrapper-display-logo: "block";
  --wrapper-color-progress-bar: #139eca;
  --wrapper-color-tutorial-tshirt: #139eca;
  --wrapper-color-tutorial-progress: #139eca;
}
