@import "./global.css";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.framework {
  background-color: #3178c6;
  color: #ffffff;
}

.onboarding-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: #343a40;
}

/* Selphi and SelphID Component styles */
facephi-sdk-provider {
  --wrapper-color-primary: #3077c6;
  --wrapper-color-hover: #3077c677;
  --wrapper-color-loading: #3077c6;
  --wrapper-color-tutorial-background: #3077c6;
  --wrapper-display-logo: "block";
  --wrapper-color-progress-bar: #3077c6;
  --wrapper-color-tutorial-tshirt: #3077c6;
  --wrapper-color-tutorial-progress: #3077c6;
}
