/* Main app style config */
main {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100%;
  margin: 0 8px;
  padding-bottom: 8px;
}

.title {
  display: flex;
  justify-content: space-between;
}
.h2 {
  font-size: 1.2em;
}

.title,
.event-section,
.sdk-section {
  padding: 8px;
}
.sdk-section {
  width: 100%;
}
.sdk-section {
  position: relative;
  flex: 1;
  border: 1px solid lightgray;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}

.small {
  font-size: 14px;
}
