@import "./global.css";

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#__next {
  width: 100%;
  height: 100%;
}

.onboarding-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: #343a40;
}

.framework {
  background-color: #000000;
  color: #ffffff;
}
